@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		background-color: #052233;
	}

	/* all scroll bars styling */
	*::-webkit-scrollbar {
		-webkit-appearance: none;
		background: rgba(255, 255, 255, 0.1);
	}

	*::-webkit-scrollbar-thumb {
		background: rgba(150, 150, 150, 0.5);
		border-radius: 20px;
	}

	*::-webkit-scrollbar-track {
		border-radius: 0.5rem;
	}

	.stars {
		animation: animStar 50s linear infinite;
	}

	.stars:after {
		content: ' ';
		position: absolute;
		top: 2000px;
	}

	/* Here starts the stars effect part, that could not be done using tailwind classes. It looks very good, but surely code may be improved*/
	.stars,
	.stars:after {
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: 238px 975px #fff, 4924px 1339px #fff, 2884px 1202px #fff, 882px 1495px #fff, 2046px 543px #fff,
			3410px 619px #fff, 1px 1600px #fff, 998px 1867px #fff, 4803px 566px #fff, 1059px 1869px #fff,
			1323px 280px #fff, 1128px 1355px #fff, 1934px 1537px #fff, 224px 1372px #fff, 1628px 1687px #fff,
			3836px 187px #fff, 2876px 649px #fff, 2306px 1987px #fff, 3197px 1449px #fff, 3417px 415px #fff,
			550px 1482px #fff, 368px 799px #fff, 2437px 41px #fff, 2558px 625px #fff, 3405px 549px #fff,
			3430px 1093px #fff, 3910px 555px #fff, 1320px 787px #fff, 4977px 1440px #fff, 2442px 1374px #fff,
			1043px 469px #fff, 1481px 1769px #fff, 2630px 558px #fff, 4872px 1689px #fff, 353px 879px #fff,
			1430px 1697px #fff, 1067px 1175px #fff, 4663px 258px #fff, 1840px 640px #fff, 2717px 1794px #fff,
			1453px 1824px #fff, 842px 861px #fff, 2498px 640px #fff, 3303px 1138px #fff, 533px 444px #fff,
			2850px 805px #fff, 1903px 1248px #fff, 2911px 1744px #fff, 2475px 333px #fff, 2209px 879px #fff,
			1349px 457px #fff, 977px 1791px #fff, 4194px 1721px #fff, 4646px 1155px #fff, 1082px 1113px #fff,
			1723px 656px #fff, 1178px 1616px #fff, 4592px 313px #fff, 1113px 1911px #fff, 3568px 116px #fff,
			2089px 269px #fff, 2742px 345px #fff, 4338px 1844px #fff, 2743px 1843px #fff, 3160px 479px #fff,
			4516px 1347px #fff, 4059px 327px #fff, 1140px 1258px #fff, 231px 264px #fff, 3933px 778px #fff,
			2723px 27px #fff, 2798px 293px #fff, 1632px 1637px #fff, 4501px 1569px #fff, 2230px 103px #fff,
			4996px 1304px #fff, 2474px 844px #fff, 2182px 665px #fff, 2490px 539px #fff, 575px 1860px #fff,
			3827px 1698px #fff, 3734px 829px #fff, 2067px 1493px #fff, 3650px 341px #fff, 402px 1479px #fff,
			2530px 1165px #fff, 951px 50px #fff, 2547px 1723px #fff, 2105px 809px #fff, 2596px 1173px #fff,
			3631px 1208px #fff, 3825px 1730px #fff, 3627px 1053px #fff, 3983px 1226px #fff, 3440px 242px #fff,
			1810px 1572px #fff, 243px 496px #fff, 3919px 813px #fff, 3826px 376px #fff, 2787px 904px #fff,
			1380px 644px #fff, 32px 1358px #fff, 1685px 732px #fff, 2784px 908px #fff, 1466px 1988px #fff,
			3526px 957px #fff, 1293px 1543px #fff, 1739px 1877px #fff, 4875px 776px #fff, 1561px 1758px #fff,
			3307px 1406px #fff, 1982px 634px #fff, 2194px 1411px #fff, 2605px 648px #fff, 2306px 422px #fff,
			503px 1738px #fff, 813px 1766px #fff, 1042px 49px #fff, 2660px 1894px #fff, 4823px 1783px #fff,
			2577px 318px #fff, 372px 294px #fff, 946px 1050px #fff, 1841px 650px #fff, 3503px 1106px #fff,
			592px 868px #fff, 2762px 228px #fff, 3389px 1010px #fff, 2784px 890px #fff, 4165px 1389px #fff,
			1993px 1560px #fff, 4534px 389px #fff, 4050px 327px #fff, 3492px 1526px #fff, 3801px 1284px #fff,
			2146px 1400px #fff, 1638px 1819px #fff, 1268px 256px #fff, 3254px 1423px #fff, 3639px 82px #fff,
			4782px 1026px #fff, 1036px 85px #fff, 1212px 196px #fff, 1184px 428px #fff, 529px 1669px #fff,
			921px 254px #fff, 3999px 761px #fff, 3279px 1300px #fff, 1772px 1697px #fff, 2269px 1057px #fff,
			957px 531px #fff, 2268px 614px #fff, 228px 1117px #fff, 1049px 988px #fff, 3722px 1636px #fff,
			1626px 1719px #fff, 2415px 1209px #fff, 1823px 1922px #fff, 3135px 714px #fff, 4586px 227px #fff,
			2878px 1686px #fff, 2368px 523px #fff, 1503px 702px #fff, 2560px 184px #fff, 315px 328px #fff,
			3742px 1504px #fff, 314px 510px #fff, 987px 1009px #fff, 3729px 386px #fff, 1816px 1666px #fff,
			92px 286px #fff, 4727px 968px #fff, 24px 1604px #fff, 4647px 1568px #fff, 1353px 245px #fff,
			190px 1501px #fff, 3744px 1477px #fff, 2046px 833px #fff, 483px 1058px #fff, 1620px 1853px #fff,
			3670px 1280px #fff, 2187px 659px #fff, 3082px 1006px #fff, 3536px 1912px #fff, 4673px 1130px #fff,
			4800px 92px #fff, 3050px 1362px #fff, 4847px 810px #fff, 2224px 221px #fff, 3181px 1478px #fff,
			1682px 1157px #fff, 2704px 846px #fff, 4948px 418px #fff, 3965px 1298px #fff, 1347px 1388px #fff,
			4359px 1664px #fff, 1168px 564px #fff, 4124px 1672px #fff, 1036px 654px #fff, 4886px 753px #fff,
			3959px 1742px #fff, 2111px 1699px #fff, 580px 151px #fff, 307px 942px #fff, 4114px 1381px #fff,
			2791px 1204px #fff, 4196px 1702px #fff, 2857px 233px #fff, 1916px 438px #fff, 1944px 740px #fff,
			266px 945px #fff, 2286px 605px #fff, 2174px 689px #fff, 4132px 1236px #fff, 63px 364px #fff,
			2912px 659px #fff, 508px 731px #fff, 1588px 1340px #fff, 4027px 1399px #fff, 100px 336px #fff,
			1461px 421px #fff, 162px 379px #fff, 3108px 1736px #fff, 2307px 1188px #fff, 4260px 1568px #fff,
			2281px 1751px #fff, 653px 58px #fff, 1507px 71px #fff, 520px 1100px #fff, 2732px 454px #fff,
			3950px 933px #fff, 933px 184px #fff, 3158px 1339px #fff, 3873px 602px #fff, 2229px 802px #fff,
			1818px 9px #fff, 4680px 614px #fff, 256px 1557px #fff, 1488px 1563px #fff, 2476px 724px #fff,
			1428px 1156px #fff, 4105px 1325px #fff, 3925px 68px #fff, 4092px 1070px #fff, 4457px 1125px #fff,
			11px 1220px #fff, 1760px 686px #fff, 1085px 1830px #fff, 4142px 901px #fff, 4884px 612px #fff,
			2972px 1437px #fff, 2087px 1262px #fff, 84px 1378px #fff, 4043px 1451px #fff, 4111px 374px #fff,
			1645px 698px #fff, 4217px 1845px #fff, 1760px 1740px #fff, 2196px 1989px #fff, 2122px 78px #fff,
			139px 422px #fff, 3647px 1002px #fff, 3934px 416px #fff, 4642px 486px #fff, 3248px 1488px #fff,
			1848px 508px #fff, 1887px 1869px #fff, 4470px 776px #fff, 1738px 1161px #fff, 2901px 838px #fff,
			3832px 1799px #fff, 2340px 766px #fff, 3486px 1897px #fff, 3842px 1161px #fff, 2378px 1121px #fff,
			1283px 1878px #fff, 1573px 676px #fff, 979px 526px #fff, 503px 1842px #fff, 4351px 455px #fff,
			697px 1893px #fff, 3488px 1373px #fff, 1650px 1523px #fff, 852px 1161px #fff, 1511px 1904px #fff,
			1873px 1249px #fff, 3184px 1658px #fff, 3182px 620px #fff, 2639px 683px #fff, 851px 1189px #fff,
			4455px 1994px #fff, 3694px 1282px #fff, 1005px 446px #fff, 3841px 1742px #fff, 4728px 417px #fff,
			3464px 944px #fff, 4443px 1925px #fff, 4567px 966px #fff, 638px 1272px #fff, 9px 157px #fff,
			3117px 472px #fff, 2315px 555px #fff, 2467px 1323px #fff, 419px 1146px #fff, 56px 1386px #fff,
			3543px 1651px #fff, 1165px 404px #fff, 4821px 1720px #fff, 4823px 1068px #fff, 543px 1985px #fff,
			515px 1751px #fff, 1539px 404px #fff, 2894px 360px #fff, 2379px 1923px #fff, 1222px 924px #fff,
			2127px 1562px #fff, 1881px 1451px #fff, 248px 718px #fff, 4152px 909px #fff, 3082px 1388px #fff,
			2905px 809px #fff, 2614px 41px #fff, 2160px 751px #fff, 3771px 1921px #fff, 2251px 554px #fff,
			3061px 301px #fff, 4529px 1724px #fff, 4065px 1765px #fff, 4645px 230px #fff, 913px 88px #fff,
			4400px 1230px #fff, 3973px 1594px #fff, 1523px 480px #fff, 4755px 1962px #fff, 4591px 1435px #fff,
			1265px 1607px #fff, 1900px 1609px #fff, 1220px 595px #fff, 4450px 1374px #fff, 4412px 1593px #fff,
			3455px 1389px #fff, 3737px 466px #fff, 1412px 810px #fff, 2836px 936px #fff, 2257px 646px #fff,
			3166px 912px #fff, 3006px 340px #fff, 4730px 1908px #fff, 3829px 1535px #fff, 299px 1608px #fff,
			1870px 1034px #fff, 1181px 71px #fff, 2218px 146px #fff, 4814px 202px #fff, 641px 1637px #fff,
			4293px 292px #fff, 2706px 1674px #fff, 4105px 862px #fff, 4811px 2000px #fff, 4418px 495px #fff,
			3438px 605px #fff, 4515px 1571px #fff, 2538px 1644px #fff, 4476px 1370px #fff, 4547px 381px #fff,
			2594px 1830px #fff, 4600px 1184px #fff, 2688px 301px #fff, 4437px 1068px #fff, 2892px 1046px #fff,
			292px 51px #fff, 1847px 807px #fff, 901px 0px #fff, 3961px 989px #fff, 3834px 313px #fff,
			4538px 365px #fff, 4510px 440px #fff, 2012px 1438px #fff, 3963px 766px #fff, 4043px 1630px #fff,
			2379px 285px #fff, 3805px 326px #fff, 2304px 1819px #fff, 116px 835px #fff, 4165px 1634px #fff,
			4995px 1534px #fff, 767px 1018px #fff, 974px 128px #fff, 4309px 1948px #fff, 638px 1376px #fff,
			750px 1088px #fff, 4731px 573px #fff, 1778px 1872px #fff, 3756px 1159px #fff, 862px 635px #fff,
			3275px 1383px #fff, 2769px 745px #fff, 4325px 1273px #fff, 168px 974px #fff, 1298px 1906px #fff,
			3306px 1827px #fff, 1885px 804px #fff, 1731px 886px #fff, 734px 1226px #fff, 3049px 470px #fff,
			4084px 293px #fff, 2px 252px #fff, 4799px 1790px #fff, 372px 515px #fff, 2469px 271px #fff,
			1306px 1786px #fff, 2244px 808px #fff, 834px 761px #fff, 4543px 885px #fff, 3070px 869px #fff,
			4875px 468px #fff, 4655px 1550px #fff, 597px 96px #fff, 1658px 1503px #fff, 488px 127px #fff,
			1843px 1080px #fff, 3875px 1155px #fff, 1640px 69px #fff, 3519px 611px #fff, 1944px 1849px #fff,
			2546px 197px #fff, 1165px 774px #fff, 3504px 1615px #fff, 4535px 1639px #fff, 3396px 1269px #fff,
			3888px 501px #fff, 3166px 1701px #fff, 2224px 1989px #fff, 4076px 1815px #fff, 3557px 88px #fff,
			3129px 742px #fff, 1418px 1368px #fff, 1414px 654px #fff, 4541px 849px #fff, 596px 578px #fff,
			4606px 436px #fff, 2872px 533px #fff, 1040px 273px #fff, 1243px 1713px #fff, 3106px 515px #fff,
			1471px 1416px #fff, 3192px 1979px #fff, 1232px 1972px #fff, 1405px 1965px #fff, 3515px 1939px #fff,
			1181px 1914px #fff, 3146px 113px #fff, 4230px 358px #fff, 4227px 237px #fff, 3538px 1118px #fff,
			528px 685px #fff, 4562px 790px #fff, 705px 1467px #fff, 3638px 1688px #fff, 145px 1827px #fff,
			2449px 1518px #fff, 4717px 799px #fff, 4058px 1012px #fff, 3420px 1685px #fff, 476px 305px #fff,
			3822px 155px #fff, 744px 1443px #fff, 1883px 1897px #fff, 304px 356px #fff, 2306px 540px #fff,
			4781px 88px #fff, 670px 862px #fff, 4624px 1767px #fff, 252px 94px #fff, 2018px 889px #fff,
			4238px 67px #fff, 685px 548px #fff, 4079px 1895px #fff, 3534px 1273px #fff, 2994px 732px #fff,
			2946px 835px #fff, 2648px 1493px #fff, 2993px 1008px #fff, 4984px 1761px #fff, 2292px 398px #fff,
			3899px 797px #fff, 2174px 260px #fff, 2039px 1301px #fff, 1874px 1305px #fff, 2099px 76px #fff,
			2000px 1282px #fff, 3476px 115px #fff, 3951px 325px #fff, 2096px 1604px #fff, 837px 460px #fff,
			4214px 1px #fff, 2384px 1285px #fff, 212px 556px #fff, 2394px 925px #fff, 11px 1313px #fff,
			1529px 973px #fff, 3091px 1610px #fff, 1696px 1165px #fff, 4546px 1385px #fff, 4420px 475px #fff,
			2258px 816px #fff, 2007px 626px #fff, 4243px 430px #fff, 520px 1291px #fff, 1824px 1010px #fff,
			1448px 1684px #fff, 284px 1295px #fff, 3728px 903px #fff, 1305px 1732px #fff, 1750px 1681px #fff,
			2442px 230px #fff, 4735px 661px #fff, 1963px 1411px #fff, 4109px 1566px #fff, 1558px 697px #fff,
			643px 750px #fff, 4542px 1061px #fff, 1971px 1333px #fff, 3364px 144px #fff, 4307px 249px #fff,
			2135px 1613px #fff, 667px 921px #fff, 2781px 223px #fff, 1122px 40px #fff, 3480px 1306px #fff,
			1747px 1248px #fff, 380px 362px #fff, 2572px 412px #fff, 599px 1181px #fff, 4423px 446px #fff,
			2314px 1875px #fff, 1758px 392px #fff, 2870px 619px #fff, 725px 502px #fff, 481px 1536px #fff,
			1140px 731px #fff, 4936px 898px #fff, 1155px 431px #fff, 1071px 973px #fff, 3176px 1025px #fff,
			39px 1506px #fff, 986px 802px #fff, 409px 553px #fff, 4569px 650px #fff, 944px 1560px #fff,
			3737px 589px #fff, 3949px 75px #fff, 4037px 628px #fff, 705px 1276px #fff, 4943px 942px #fff,
			234px 1681px #fff, 3567px 1704px #fff, 830px 1130px #fff, 1397px 724px #fff, 3033px 581px #fff,
			957px 1143px #fff, 1869px 1416px #fff, 280px 297px #fff, 4602px 1850px #fff, 3864px 1211px #fff,
			2717px 456px #fff, 294px 393px #fff, 1697px 1974px #fff, 2375px 1258px #fff, 1523px 1179px #fff,
			1793px 74px #fff, 4381px 1197px #fff, 1224px 1847px #fff, 3953px 885px #fff, 4251px 703px #fff,
			931px 1618px #fff, 656px 16px #fff, 4307px 884px #fff, 3924px 1590px #fff, 195px 1327px #fff,
			928px 1115px #fff, 349px 209px #fff, 1195px 784px #fff, 3222px 59px #fff, 3866px 664px #fff,
			1702px 1203px #fff, 4035px 399px #fff, 1389px 1793px #fff, 589px 181px #fff, 3240px 129px #fff,
			4953px 989px #fff, 4982px 1954px #fff, 525px 1714px #fff, 1947px 1729px #fff, 3105px 266px #fff,
			1334px 501px #fff, 1375px 814px #fff, 3332px 626px #fff, 3619px 1813px #fff, 1520px 1872px #fff,
			2604px 948px #fff, 1506px 1967px #fff, 759px 1006px #fff, 3912px 17px #fff, 4062px 704px #fff,
			1130px 972px #fff, 2542px 1248px #fff, 4724px 972px #fff, 4018px 305px #fff, 1509px 17px #fff,
			2786px 1957px #fff, 2440px 68px #fff, 1055px 1853px #fff, 4828px 1290px #fff, 3213px 989px #fff,
			3608px 747px #fff, 594px 906px #fff, 1136px 1445px #fff, 414px 339px #fff, 3991px 1839px #fff,
			3496px 4px #fff, 4330px 816px #fff, 4744px 1747px #fff, 2204px 1180px #fff, 236px 1966px #fff,
			4216px 1137px #fff, 3629px 1146px #fff, 2772px 965px #fff, 2294px 1472px #fff, 414px 1572px #fff,
			4px 249px #fff, 2837px 1368px #fff, 2115px 1497px #fff, 513px 678px #fff, 4409px 1785px #fff,
			3442px 449px #fff, 777px 852px #fff, 270px 411px #fff, 1071px 660px #fff, 3693px 807px #fff,
			1149px 424px #fff, 1072px 679px #fff, 2075px 1157px #fff, 433px 234px #fff, 752px 651px #fff,
			592px 1006px #fff, 1020px 818px #fff, 3925px 236px #fff, 4769px 173px #fff, 3180px 942px #fff,
			403px 240px #fff, 1102px 1031px #fff, 2646px 1671px #fff, 4862px 1740px #fff, 1651px 536px #fff,
			4322px 1450px #fff, 2288px 1786px #fff, 3392px 1709px #fff, 2782px 1465px #fff, 3993px 436px #fff,
			756px 1364px #fff, 3014px 1603px #fff, 4582px 405px #fff, 3062px 365px #fff, 2307px 694px #fff,
			1427px 316px #fff, 3690px 936px #fff, 2557px 1659px #fff, 2245px 1664px #fff, 2511px 1899px #fff,
			2152px 444px #fff, 3037px 1660px #fff, 2959px 1970px #fff, 1361px 1621px #fff, 4813px 708px #fff,
			2999px 1894px #fff, 412px 1639px #fff, 928px 84px #fff, 2225px 1761px #fff, 3837px 1665px #fff,
			3010px 872px #fff, 4779px 1935px #fff, 1031px 615px #fff, 4315px 1741px #fff, 3774px 68px #fff,
			1141px 882px #fff, 3149px 1222px #fff, 4552px 260px #fff, 630px 1746px #fff, 2159px 1653px #fff,
			901px 522px #fff, 3515px 557px #fff, 4499px 1681px #fff, 3514px 395px #fff, 811px 763px #fff,
			2824px 1840px #fff, 2767px 1722px #fff, 763px 1952px #fff, 1343px 331px #fff, 3720px 1045px #fff,
			4439px 1992px #fff, 2360px 599px #fff, 4254px 1043px #fff, 2408px 648px #fff, 3523px 83px #fff,
			651px 908px #fff, 1230px 1915px #fff, 1650px 1974px #fff, 2235px 1464px #fff, 2231px 672px #fff,
			337px 1342px #fff, 4033px 150px #fff, 2745px 174px #fff, 1394px 964px #fff, 1687px 1934px #fff,
			4728px 700px #fff, 1331px 1457px #fff, 1833px 843px #fff, 2524px 427px #fff, 3033px 961px #fff,
			3360px 554px #fff, 1575px 1975px #fff, 3704px 696px #fff, 4544px 244px #fff, 1572px 1983px #fff,
			3446px 1596px #fff, 2064px 946px #fff, 3334px 1149px #fff, 3575px 1308px #fff, 2158px 415px #fff,
			2264px 673px #fff, 2359px 442px #fff, 2084px 893px #fff, 2192px 1699px #fff, 3780px 195px #fff,
			798px 1272px #fff, 1524px 259px #fff, 1006px 221px #fff, 2702px 588px #fff, 797px 1401px #fff,
			2451px 1237px #fff, 3981px 1246px #fff, 3414px 1572px #fff, 1788px 55px #fff, 1002px 553px #fff,
			4658px 1205px #fff, 3548px 1133px #fff, 78px 64px #fff, 2145px 946px #fff, 911px 1711px #fff,
			1167px 1287px #fff, 1559px 413px #fff, 3285px 1396px #fff, 3979px 166px #fff, 1374px 1831px #fff,
			2121px 157px #fff, 1176px 1504px #fff, 2913px 1496px #fff, 4451px 1983px #fff, 3210px 1856px #fff,
			3635px 316px #fff, 34px 1952px #fff, 2542px 599px #fff, 3066px 1954px #fff, 4527px 142px #fff,
			3151px 26px #fff, 4927px 1152px #fff, 166px 1291px #fff, 2180px 135px #fff, 1629px 205px #fff,
			1382px 1325px #fff, 1173px 1736px #fff, 4688px 452px #fff, 3368px 1861px #fff, 4104px 1379px #fff,
			504px 287px #fff, 578px 1564px #fff, 480px 885px #fff, 1298px 721px #fff, 1808px 1487px #fff,
			4706px 1802px #fff, 1365px 845px #fff, 4396px 1760px #fff, 183px 184px #fff, 1632px 1002px #fff,
			250px 479px #fff, 1805px 259px #fff, 1619px 1706px #fff, 2604px 1784px #fff, 1635px 1px #fff,
			1420px 1702px #fff, 285px 1842px #fff, 4703px 998px #fff, 358px 82px #fff, 3321px 1388px #fff,
			120px 1757px #fff, 4567px 103px #fff, 4647px 403px #fff, 3408px 801px #fff, 2411px 1530px #fff,
			2936px 168px #fff, 4217px 1288px #fff, 2396px 301px #fff, 677px 1066px #fff, 4821px 1850px #fff,
			4444px 621px #fff, 2687px 1401px #fff, 1712px 513px #fff, 2233px 1206px #fff, 4223px 1993px #fff,
			3618px 1170px #fff, 333px 710px #fff, 1193px 1623px #fff, 3270px 1958px #fff, 1544px 486px #fff,
			378px 1001px #fff, 4760px 929px #fff, 817px 1560px #fff, 1298px 309px #fff, 2169px 906px #fff,
			1021px 107px #fff, 4417px 359px #fff, 2780px 1704px #fff, 4447px 808px #fff, 2684px 443px #fff,
			3950px 1681px #fff, 2237px 613px #fff, 953px 699px #fff, 2626px 1501px #fff, 432px 649px #fff,
			1732px 1734px #fff, 679px 500px #fff, 1109px 1440px #fff, 1642px 1305px #fff, 3850px 1707px #fff,
			4551px 643px #fff, 249px 971px #fff, 335px 606px #fff, 4486px 1284px #fff, 2531px 429px #fff,
			2943px 369px #fff, 298px 597px #fff, 1435px 598px #fff, 731px 1648px #fff, 425px 459px #fff,
			3428px 1304px #fff, 4467px 901px #fff, 2088px 643px #fff, 2624px 1849px #fff, 2026px 643px #fff,
			3387px 1086px #fff, 2014px 165px #fff, 1595px 99px #fff, 1031px 1590px #fff, 4219px 877px #fff,
			4671px 1807px #fff, 4099px 1703px #fff, 2291px 47px #fff, 3205px 1099px #fff, 3229px 1370px #fff,
			3903px 1883px #fff, 277px 1427px #fff, 3220px 365px #fff, 36px 44px #fff, 2448px 1770px #fff,
			4773px 118px #fff, 4277px 168px #fff, 4633px 1852px #fff, 2030px 124px #fff, 4402px 157px #fff,
			10px 808px #fff, 3238px 1435px #fff, 3821px 769px #fff, 1818px 212px #fff, 668px 591px #fff,
			3546px 310px #fff, 1434px 1141px #fff, 1039px 203px #fff, 1416px 668px #fff, 2805px 1772px #fff,
			155px 556px #fff, 332px 766px #fff, 2132px 1137px #fff, 2537px 1708px #fff, 2546px 1637px #fff,
			516px 798px #fff, 4225px 104px #fff, 2664px 872px #fff, 2450px 44px #fff, 2313px 851px #fff,
			1468px 1896px #fff, 4940px 1883px #fff, 2507px 189px #fff, 4293px 362px #fff, 1055px 1955px #fff,
			2361px 433px #fff, 171px 1161px #fff, 2630px 1832px #fff, 3831px 736px #fff, 4045px 153px #fff,
			2567px 388px #fff, 1327px 160px #fff, 2601px 360px #fff, 1961px 1137px #fff, 1515px 239px #fff,
			1314px 437px #fff, 1706px 112px #fff, 4608px 908px #fff, 2288px 1079px #fff, 2136px 243px #fff,
			2641px 258px #fff, 70px 1785px #fff, 2040px 1125px #fff, 4237px 1066px #fff, 1847px 1636px #fff,
			1724px 1578px #fff, 2973px 1108px #fff, 18px 1655px #fff, 1874px 1941px #fff, 3094px 36px #fff,
			3386px 1261px #fff, 3540px 1836px #fff, 4905px 1660px #fff, 1526px 672px #fff, 3575px 907px #fff,
			4427px 435px #fff, 1810px 1706px #fff, 1876px 1888px #fff, 639px 502px #fff, 3664px 18px #fff,
			484px 1091px #fff, 1470px 1495px #fff, 186px 1343px #fff, 1827px 1218px #fff, 3755px 921px #fff,
			3514px 746px #fff, 4002px 1959px #fff, 3760px 1026px #fff, 640px 1593px #fff, 842px 538px #fff,
			4806px 393px #fff, 2343px 1914px #fff, 3751px 1606px #fff, 3976px 114px #fff, 4652px 212px #fff,
			4303px 376px #fff, 2485px 258px #fff, 1785px 1081px #fff, 4353px 1850px #fff, 3234px 959px #fff,
			166px 297px #fff, 1899px 1316px #fff, 3363px 1855px #fff, 2738px 228px #fff, 4634px 314px #fff,
			2678px 159px #fff, 3273px 850px #fff, 3208px 951px #fff, 2849px 1044px #fff, 2112px 463px #fff,
			4409px 1957px #fff, 3274px 272px #fff, 3759px 1814px #fff, 4464px 1752px #fff, 3552px 344px #fff,
			3588px 1402px #fff, 1594px 249px #fff, 4058px 1779px #fff, 1575px 1018px #fff, 878px 1676px #fff,
			1482px 1470px #fff, 4569px 69px #fff, 2116px 1838px #fff, 978px 1236px #fff, 3416px 1039px #fff,
			1316px 1323px #fff, 4605px 1030px #fff, 4232px 1259px #fff, 2207px 1958px #fff, 3040px 1188px #fff,
			3166px 661px #fff, 4107px 1153px #fff, 3243px 1267px #fff, 382px 351px #fff, 4983px 1461px #fff,
			1657px 1761px #fff, 2893px 191px #fff, 2804px 675px #fff, 904px 1530px #fff, 3384px 1899px #fff,
			4712px 1537px #fff, 263px 1886px #fff, 1628px 605px #fff, 403px 1736px #fff, 530px 1314px #fff,
			809px 1006px #fff, 1890px 1519px #fff, 3729px 114px #fff, 2182px 743px #fff, 3236px 591px #fff;
	}

	.stars2 {
		animation: animStar 100s linear infinite;
	}

	.stars2:after {
		content: ' ';
		position: absolute;
		top: 2000px;
	}

	.stars2,
	.stars2:after {
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: 3233px 430px #fff, 749px 955px #fff, 3690px 741px #fff, 3082px 1882px #fff, 1926px 284px #fff,
			3411px 1162px #fff, 48px 1013px #fff, 2621px 1295px #fff, 2296px 1231px #fff, 4275px 733px #fff,
			3035px 1103px #fff, 3871px 294px #fff, 989px 45px #fff, 4276px 334px #fff, 3229px 438px #fff,
			550px 618px #fff, 3068px 1821px #fff, 2017px 1585px #fff, 2769px 1983px #fff, 4597px 844px #fff,
			2927px 1777px #fff, 4895px 1198px #fff, 2672px 1490px #fff, 524px 1578px #fff, 3030px 953px #fff,
			832px 133px #fff, 1817px 1955px #fff, 306px 816px #fff, 1705px 517px #fff, 242px 745px #fff,
			1753px 757px #fff, 3547px 7px #fff, 2307px 273px #fff, 3912px 551px #fff, 2431px 212px #fff,
			3342px 499px #fff, 798px 513px #fff, 3823px 258px #fff, 1585px 1271px #fff, 602px 1374px #fff,
			663px 1664px #fff, 1862px 541px #fff, 1361px 864px #fff, 1152px 1218px #fff, 2822px 1046px #fff,
			1461px 1334px #fff, 4343px 638px #fff, 4617px 228px #fff, 3506px 170px #fff, 2870px 1978px #fff,
			2016px 224px #fff, 4072px 1600px #fff, 1983px 173px #fff, 3336px 841px #fff, 541px 1642px #fff,
			4692px 915px #fff, 970px 1173px #fff, 1873px 422px #fff, 3075px 519px #fff, 2835px 292px #fff,
			3285px 1292px #fff, 301px 96px #fff, 2445px 1493px #fff, 135px 1513px #fff, 1157px 1168px #fff,
			4100px 1255px #fff, 2715px 1297px #fff, 1465px 1418px #fff, 3885px 204px #fff, 3077px 1318px #fff,
			3913px 426px #fff, 3732px 980px #fff, 3460px 459px #fff, 4999px 78px #fff, 4203px 94px #fff,
			3669px 1483px #fff, 562px 431px #fff, 1152px 1905px #fff, 3793px 438px #fff, 1842px 742px #fff,
			281px 756px #fff, 4768px 1627px #fff, 4558px 1421px #fff, 4008px 1582px #fff, 471px 814px #fff,
			824px 502px #fff, 3919px 423px #fff, 3631px 431px #fff, 3817px 741px #fff, 3891px 1617px #fff,
			3285px 1322px #fff, 17px 183px #fff, 2107px 724px #fff, 972px 1457px #fff, 335px 1088px #fff,
			420px 6px #fff, 4965px 1383px #fff, 2065px 1421px #fff, 3097px 1092px #fff, 3666px 1331px #fff,
			4182px 1974px #fff, 4950px 1258px #fff, 3394px 1065px #fff, 889px 1621px #fff, 4521px 1384px #fff,
			1055px 1225px #fff, 1910px 795px #fff, 4944px 1296px #fff, 2349px 1551px #fff, 2482px 1538px #fff,
			4580px 1149px #fff, 3358px 1959px #fff, 4167px 1815px #fff, 3788px 1762px #fff, 1200px 1671px #fff,
			2312px 1551px #fff, 1471px 974px #fff, 1942px 675px #fff, 3907px 1270px #fff, 1388px 1457px #fff,
			4812px 1530px #fff, 2609px 1271px #fff, 1384px 143px #fff, 259px 1849px #fff, 3750px 1710px #fff,
			470px 299px #fff, 2999px 1671px #fff, 4299px 1707px #fff, 4469px 1014px #fff, 1257px 188px #fff,
			3145px 362px #fff, 2306px 1465px #fff, 346px 1799px #fff, 4760px 1578px #fff, 3041px 1235px #fff,
			4359px 1884px #fff, 2102px 1176px #fff, 4782px 746px #fff, 3672px 1393px #fff, 4326px 197px #fff,
			733px 150px #fff, 4475px 1206px #fff, 3423px 612px #fff, 590px 1629px #fff, 525px 792px #fff,
			18px 1026px #fff, 4445px 1439px #fff, 2275px 976px #fff, 3006px 175px #fff, 870px 315px #fff,
			525px 1280px #fff, 3644px 495px #fff, 3886px 568px #fff, 1348px 430px #fff, 3761px 1308px #fff,
			3909px 556px #fff, 3709px 1188px #fff, 2745px 1788px #fff, 3239px 1877px #fff, 4862px 1837px #fff,
			4588px 256px #fff, 3188px 1138px #fff, 566px 1756px #fff, 1030px 914px #fff, 1115px 1091px #fff,
			4383px 144px #fff, 4334px 1053px #fff, 652px 1207px #fff, 1366px 763px #fff, 2131px 1759px #fff,
			4773px 1794px #fff, 209px 309px #fff, 115px 1966px #fff, 1879px 1423px #fff, 1679px 954px #fff,
			2892px 713px #fff, 2154px 215px #fff, 934px 1890px #fff, 3042px 1980px #fff, 1965px 738px #fff,
			4860px 1433px #fff, 239px 1766px #fff, 1834px 239px #fff, 1989px 586px #fff, 698px 1800px #fff,
			3248px 994px #fff, 1436px 1688px #fff, 62px 1723px #fff, 4996px 309px #fff, 1992px 365px #fff,
			2716px 550px #fff, 3879px 455px #fff, 3997px 1993px #fff, 2084px 357px #fff, 300px 314px #fff,
			3755px 1901px #fff, 2979px 655px #fff, 4031px 368px #fff, 1003px 1100px #fff, 2652px 1516px #fff,
			502px 723px #fff, 1672px 1721px #fff, 2962px 1962px #fff, 4184px 1921px #fff, 4010px 1616px #fff,
			35px 778px #fff, 624px 1760px #fff, 462px 1091px #fff, 3730px 17px #fff, 3924px 2px #fff,
			2506px 1538px #fff, 4020px 1912px #fff, 3972px 918px #fff, 2154px 1909px #fff, 3861px 494px #fff,
			4778px 445px #fff, 4935px 598px #fff, 964px 1844px #fff, 1226px 196px #fff, 284px 1089px #fff,
			4956px 1587px #fff, 1215px 257px #fff, 4836px 1588px #fff, 3151px 577px #fff, 3665px 1767px #fff,
			724px 622px #fff, 1606px 955px #fff, 359px 1742px #fff, 4766px 1761px #fff, 3879px 761px #fff,
			2249px 171px #fff, 2573px 1435px #fff, 630px 168px #fff, 4335px 1095px #fff, 4792px 1727px #fff,
			3218px 1505px #fff, 4551px 40px #fff, 4761px 188px #fff, 380px 785px #fff, 1881px 1005px #fff,
			793px 525px #fff, 955px 365px #fff, 2430px 792px #fff, 3156px 694px #fff, 4177px 1853px #fff,
			1577px 358px #fff, 942px 475px #fff, 4612px 1346px #fff, 2647px 1416px #fff, 3423px 957px #fff,
			4078px 187px #fff, 4633px 892px #fff, 2183px 649px #fff, 2804px 1552px #fff, 2165px 1731px #fff,
			162px 751px #fff, 3079px 388px #fff, 1648px 1480px #fff, 1852px 1719px #fff, 4812px 120px #fff,
			4208px 290px #fff, 1669px 1093px #fff, 717px 1149px #fff, 3758px 1347px #fff, 2857px 451px #fff,
			4403px 1106px #fff, 2580px 1207px #fff, 1480px 1230px #fff, 1807px 608px #fff, 14px 716px #fff,
			3745px 148px #fff, 3038px 775px #fff, 4027px 1268px #fff, 3540px 1353px #fff, 2362px 1895px #fff,
			2275px 1098px #fff, 2331px 174px #fff, 1212px 1853px #fff, 3415px 777px #fff, 4026px 816px #fff,
			387px 1438px #fff, 1274px 886px #fff, 4458px 1302px #fff, 3035px 161px #fff, 259px 699px #fff,
			184px 339px #fff, 4356px 1764px #fff, 4604px 791px #fff, 3446px 1729px #fff, 1263px 139px #fff,
			4016px 1112px #fff, 1480px 558px #fff, 1284px 1072px #fff, 2415px 1734px #fff, 1852px 268px #fff,
			2981px 1643px #fff, 627px 1730px #fff, 2009px 628px #fff, 828px 1836px #fff, 1558px 261px #fff,
			4655px 251px #fff, 1294px 556px #fff, 2215px 1435px #fff, 1722px 549px #fff, 3541px 168px #fff,
			2890px 1703px #fff, 1105px 772px #fff, 3693px 1843px #fff, 1409px 1156px #fff, 1194px 1524px #fff,
			2880px 1770px #fff, 229px 631px #fff, 1292px 1746px #fff, 1004px 493px #fff, 1196px 1336px #fff,
			4804px 348px #fff, 2852px 899px #fff, 1291px 438px #fff, 510px 1542px #fff, 1876px 1081px #fff,
			3579px 554px #fff, 4761px 1919px #fff, 4272px 815px #fff, 1067px 804px #fff, 2954px 1940px #fff,
			3611px 1051px #fff, 339px 444px #fff, 2091px 1526px #fff, 654px 210px #fff, 322px 217px #fff,
			2323px 1382px #fff, 3816px 978px #fff, 4463px 542px #fff, 2183px 1283px #fff, 1954px 1881px #fff,
			843px 1996px #fff, 2825px 1397px #fff, 1817px 1141px #fff, 667px 760px #fff, 3058px 520px #fff,
			3762px 509px #fff, 899px 393px #fff, 4594px 152px #fff, 4351px 483px #fff, 1548px 827px #fff,
			3081px 145px #fff, 2105px 1434px #fff, 3710px 272px #fff, 4746px 623px #fff, 383px 1805px #fff,
			1468px 526px #fff, 4657px 212px #fff, 3755px 747px #fff, 3523px 1039px #fff, 2294px 1147px #fff,
			2890px 1152px #fff, 570px 769px #fff, 4632px 895px #fff, 578px 1823px #fff, 2978px 1137px #fff,
			893px 1821px #fff, 926px 398px #fff, 1429px 1267px #fff, 4894px 1906px #fff, 2923px 1156px #fff,
			331px 962px #fff, 2991px 1560px #fff, 3787px 1562px #fff, 2610px 1334px #fff, 4559px 285px #fff,
			148px 1564px #fff, 3559px 762px #fff, 1851px 105px #fff, 3892px 587px #fff, 1991px 718px #fff,
			2113px 380px #fff, 553px 1340px #fff, 997px 1676px #fff, 959px 774px #fff, 2615px 940px #fff,
			442px 88px #fff, 2631px 966px #fff, 1460px 107px #fff, 2211px 414px #fff, 3050px 634px #fff,
			4388px 575px #fff, 3032px 703px #fff, 3881px 925px #fff, 4416px 1506px #fff, 748px 1032px #fff,
			2028px 118px #fff, 4524px 598px #fff, 1414px 1024px #fff, 926px 73px #fff, 2837px 756px #fff,
			4786px 928px #fff, 1264px 528px #fff, 3988px 60px #fff, 3742px 881px #fff, 1950px 93px #fff,
			3674px 855px #fff, 4633px 1993px #fff, 4749px 1756px #fff, 4967px 453px #fff, 4062px 465px #fff,
			2063px 1619px #fff, 1068px 1038px #fff, 1707px 9px #fff, 1331px 1942px #fff, 1901px 1347px #fff,
			635px 1307px #fff, 545px 195px #fff, 3662px 129px #fff, 1573px 1107px #fff, 677px 801px #fff,
			4001px 500px #fff, 1867px 1313px #fff, 4107px 1100px #fff, 1925px 294px #fff, 2246px 1858px #fff,
			1569px 366px #fff, 620px 503px #fff, 4766px 245px #fff, 3942px 38px #fff, 2883px 624px #fff,
			173px 96px #fff, 4960px 748px #fff, 2847px 1927px #fff, 2430px 516px #fff, 4586px 374px #fff,
			2888px 1189px #fff, 1923px 409px #fff, 2153px 209px #fff, 3168px 1045px #fff, 562px 1608px #fff,
			1401px 845px #fff, 1493px 468px #fff, 565px 1767px #fff, 2396px 956px #fff, 4224px 259px #fff,
			1262px 1802px #fff, 235px 1809px #fff, 2872px 1678px #fff, 1504px 351px #fff, 4890px 367px #fff,
			2357px 945px #fff, 4021px 104px #fff, 4085px 673px #fff, 2377px 397px #fff, 2154px 951px #fff,
			2090px 1849px #fff, 4268px 1991px #fff, 217px 1303px #fff, 2845px 110px #fff, 99px 1489px #fff,
			4994px 942px #fff, 1481px 1683px #fff, 2668px 1422px #fff, 3718px 45px #fff, 1330px 524px #fff,
			1480px 798px #fff, 442px 1261px #fff, 442px 701px #fff, 80px 1006px #fff, 956px 105px #fff,
			1049px 972px #fff, 4086px 1673px #fff, 1308px 771px #fff, 1346px 953px #fff, 2834px 179px #fff,
			3660px 1221px #fff, 174px 191px #fff, 3475px 1080px #fff, 1181px 1194px #fff, 4502px 923px #fff,
			1807px 270px #fff, 2976px 454px #fff, 701px 287px #fff, 3301px 1905px #fff, 1715px 556px #fff,
			4810px 531px #fff, 4738px 1950px #fff, 584px 128px #fff, 1822px 1097px #fff, 4302px 306px #fff,
			2078px 823px #fff, 2770px 1813px #fff, 3883px 637px #fff, 4223px 1957px #fff, 1398px 1065px #fff,
			1254px 1943px #fff, 3890px 1905px #fff, 2159px 710px #fff, 2013px 160px #fff, 4214px 1940px #fff,
			3989px 1627px #fff, 1071px 1698px #fff, 3972px 1120px #fff, 1541px 1045px #fff, 1388px 809px #fff;
	}

	.stars3 {
		animation: animStar 150s linear infinite;
	}

	.stars3:after {
		content: ' ';
		position: absolute;
		top: 2000px;
	}

	.stars3,
	.stars3:after {
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: 3253px 1486px #fff, 1962px 1326px #fff, 993px 1685px #fff, 3795px 1885px #fff,
			3654px 97px #fff, 4033px 286px #fff, 840px 1821px #fff, 44px 1871px #fff, 4248px 1306px #fff,
			833px 1573px #fff, 1228px 1409px #fff, 4115px 96px #fff, 429px 1548px #fff, 3385px 23px #fff,
			1807px 480px #fff, 3199px 213px #fff, 4583px 1597px #fff, 3666px 1144px #fff, 1691px 975px #fff,
			1540px 847px #fff, 4980px 1472px #fff, 4315px 92px #fff, 4133px 1965px #fff, 1624px 297px #fff,
			4748px 677px #fff, 1762px 915px #fff, 4138px 1215px #fff, 3951px 244px #fff, 3833px 402px #fff,
			843px 30px #fff, 3312px 1805px #fff, 2024px 1504px #fff, 228px 1709px #fff, 3501px 1186px #fff,
			313px 717px #fff, 4778px 517px #fff, 3337px 1839px #fff, 47px 1142px #fff, 3223px 1730px #fff,
			2383px 629px #fff, 3291px 1373px #fff, 3430px 1920px #fff, 4158px 24px #fff, 3820px 296px #fff,
			1042px 1797px #fff, 2501px 1393px #fff, 1910px 1207px #fff, 3010px 347px #fff, 396px 20px #fff,
			3865px 129px #fff, 22px 420px #fff, 4656px 1952px #fff, 330px 1364px #fff, 3855px 1141px #fff,
			3832px 1701px #fff, 3566px 1656px #fff, 3160px 1863px #fff, 1914px 1854px #fff, 184px 1516px #fff,
			1991px 130px #fff, 989px 1397px #fff, 1912px 230px #fff, 4136px 84px #fff, 1634px 622px #fff,
			3979px 447px #fff, 3881px 894px #fff, 938px 992px #fff, 1194px 138px #fff, 3183px 1407px #fff,
			4389px 1367px #fff, 2036px 807px #fff, 2550px 231px #fff, 2259px 176px #fff, 4261px 1125px #fff,
			706px 832px #fff, 1078px 503px #fff, 1690px 1285px #fff, 294px 1498px #fff, 3721px 1384px #fff,
			423px 543px #fff, 1473px 362px #fff, 3550px 31px #fff, 4704px 511px #fff, 2383px 1305px #fff,
			283px 1772px #fff, 1201px 643px #fff, 1401px 1525px #fff, 3279px 29px #fff, 1015px 1862px #fff,
			1982px 862px #fff, 1475px 1146px #fff, 3125px 1837px #fff, 1212px 92px #fff, 2877px 840px #fff,
			827px 1818px #fff, 1607px 943px #fff, 2415px 1659px #fff, 593px 583px #fff, 1969px 213px #fff,
			3876px 300px #fff;
	}

	@keyframes animStar {
		from {
			transform: translateY(0px);
		}

		to {
			transform: translateY(-2000px);
		}
	}

	/* Here finishes the stars effect part*/
}
